header{
	text-align: center;
	background-image: url(../images/flywheel.jpg) ;
	padding: 50px;
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	text-transform: uppercase;
	color: #ffffff;
	font-size: 120%;
}

nav a{
	color: #000000;
	background: #fdfdfd59;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	margin-right: 50px;
	padding: 10px;
	border-radius: 5px;
	
}

.left{
	display: inline-block;
	float: left;
	background: #848100;
	width: 13%;
	padding-left: 6px;
	margin-right: 2px;
	height: 100vh;

}

img{
	width: 77%;
	margin: 10%;
	border: solid #000000 2px;
	transition: 2s ease;

}

img:hover{
	transform: scale(1.5, 2);
}

.right{
	display: inline-block;
	width: 85%;

}

.active{
	background: #ffffff;


}

body{
	margin-left: 30px;
	font-size: 100%;
}

a{
	transition-property: border-radius, background, color;
	transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a:hover{
	transform: scale(1.5, 1.5);
	background: #01ff0094;
	color: #ffd700;
}

/*final project styling*/
.right table{
	box-sizing: border-box;
	border: none;
	border-radius: 4px 4px 0px 0px;
	margin-left: 10%;
	width: 62%;
}

.right th{
	border: solid #d2ff00;
	border-width: 1px 1px 2px;
	background: linear-gradient(180deg, #547303, #a5a527);
	padding: 2%;
	color: #ffffff;

}

.right td{
	background: #c3ffc3;
	text-align: center;
	padding: 2%;
	opacity: 0.5;
	color: #000000;
	font-family: "Apple Chancery", cursive; 

}

td:first-child, th:first-child{
	text-align: left;
}

td:hover{
	opacity: 1;
}

span{
	font-style: oblique;
	font-family: "Snell Roundhand", cursive;

}

p#copy{
	color: #000000b3;
}
